.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  /* background-color: black; */
  background: linear-gradient(100deg, #44579c, #bf09d7);

  margin-top: 10%;
  color: white;
}

.heading {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.add-task-form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.add-task-form input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-task-form button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-tasks {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.filter-tasks label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filter-tasks input[type="radio"] {
  margin-right: 5px;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task.completed {
  background-color: #e6f7ed;
}

.task.completed .task-name {
  text-decoration: line-through;
  opacity: 0.7;
}

.task input[type="checkbox"] {
  margin-right: 10px;
}

.btn-clear-completed {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

